<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-container">
  <mat-form-field>
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" required>
    <mat-error *ngIf="signupForm.get('fullName')?.hasError('required')">First name is required</mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
    <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" required>
    <mat-error *ngIf="signupForm.hasError('passwordMismatch')">Passwords must match</mat-error>
  </mat-form-field>

  <!-- Role -->
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select formControlName="role" required>
      <mat-option value="user">User</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
    <mat-error *ngIf="role?.hasError('required')">Role is required</mat-error>
  </mat-form-field>
  <div class="button-container">
  <button  mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
</div>
</form>
