/* Container for search input */
.search-container {
  display:flex;
  justify-content: center;
  padding: 16px;
}

/* Style for search input */
.search-bar {
  width: 100%;
  max-width: 800px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4rem;
  margin-top: 1 rem;
  border: 1px solid #ccc;
}

/* Styling for header actions like the menu and refresh buttons */
.header-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  margin-bottom: 20px;
}

/* Table container style */
.grid-container {
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  width: 80%; /* Adjust width to be a percentage of the container */
  max-width: 1200px; /* Ensure it doesn't grow too large */
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  position: relative;
}

/* Styling for the table */
.grid-table {
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow applied to table */
}

.grid-table th,
.grid-table td {
  padding: 12px 16px;
  text-align: left;
}

.grid-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}


.grid-table td {
  border-top: 1px solid #eee;
}

/* Actions buttons (Edit and Delete) */
.grid-table .action-btn {
  margin-left: 8px;
}

/* Pagination styling */
mat-paginator {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

/* Style for menu button */
mat-icon-button {
  padding: 8px;
  color: #333;
}

mat-icon {
  font-size: 24px;
}

/* MatMenu items */
mat-menu-item {
  display: flex;
  align-items: center;
}

/* Style for edit and delete buttons inside the menu */
mat-menu-item .mat-icon {
  margin-right: 8px;
}

/* Apply a light color for the background of the menu items */
.mat-menu-item:hover {
  background-color: #f1f1f1;
}

mat-input{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
